docs/node_red_adafruit_flow.json
[{"id":"4497ebfd.5af1dc","type":"tab","label":"TTN-Adafruit","disabled":false,"info":""},{"id":"b5f3d60e.e49678","type":"mqtt in","z":"4497ebfd.5af1dc","name":"adafruit-uplink","topic":"#","qos":"0","datatype":"utf8","broker":"948c1265.268f38","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":100,"wires":[["973a77d4.527098"]]},{"id":"132d42cb.64494d","type":"debug","z":"4497ebfd.5af1dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"973a77d4.527098","type":"json","z":"4497ebfd.5af1dc","name":"uplink-parser","property":"payload","action":"","pretty":true,"x":350,"y":100,"wires":[["132d42cb.64494d","d9eed30d.eeecb8"]]},{"id":"d9eed30d.eeecb8","type":"function","z":"4497ebfd.5af1dc","name":"","func":"\nreturn msg.uplink_message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["3e162eeb.5ce08a"]]},{"id":"e7c3f74f.e239b8","type":"inject","z":"4497ebfd.5af1dc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"eui-70b3d57ed0048fd1\",\"application_ids\":{\"application_id\":\"torar-test-app\"},\"dev_eui\":\"70B3D57ED0048FD1\",\"dev_addr\":\"260BE63A\"},\"correlation_ids\":[\"as:up:01FZ3G4QF7ER28PR4Y6M72FKWD\",\"gs:conn:01FZ35WH24Q44YD11P4B9VM9E0\",\"gs:up:host:01FZ35WH2G6TJHEB46NR4JCAMM\",\"gs:uplink:01FZ3G4Q8QFEPB4Q60TMP1N14N\",\"ns:uplink:01FZ3G4Q8REGYZ9MK6KQS5KSWW\",\"rpc:/ttn.lorawan.v3.GsNs/HandleUplink:01FZ3G4Q8RTPMWMSKYJ9S757V2\",\"rpc:/ttn.lorawan.v3.NsAs/HandleUplink:01FZ3G4QF6J5530X61CZ1K4ZVP\"],\"received_at\":\"2022-03-26T16:14:55.463566147Z\",\"uplink_message\":{\"f_port\":1,\"f_cnt\":6,\"frm_payload\":\"Lm9pd8dOal4TZXNlAA==\",\"decoded_payload\":{\"bytes\":[46,111,105,119,199,78,106,94,19,101,115,101,0],\"degreesC\":22.4365234375,\"humidity\":46.3134765625,\"pm1\":1.323699951171875,\"pm10\":8.514404296875,\"pm2\":5.010986328125,\"pm4\":7.928466796875},\"rx_metadata\":[{\"gateway_ids\":{\"gateway_id\":\"ttn-ou-indoor\",\"eui\":\"58A0CBFFFE803C30\"},\"time\":\"2022-03-26T16:14:55.176907062Z\",\"timestamp\":2162978435,\"rssi\":-54,\"channel_rssi\":-54,\"snr\":7.5,\"uplink_token\":\"ChsKGQoNdHRuLW91LWluZG9vchIIWKDL//6APDAQg92xhwgaCwj/9/yRBhC9/+B5ILjfvtz5uAIqCwj/9/yRBhC2xq1U\"}],\"settings\":{\"data_rate\":{\"lora\":{\"bandwidth\":125000,\"spreading_factor\":7}},\"coding_rate\":\"4/5\",\"frequency\":\"868500000\",\"timestamp\":2162978435,\"time\":\"2022-03-26T16:14:55.176907062Z\"},\"received_at\":\"2022-03-26T16:14:55.256424623Z\",\"consumed_airtime\":\"0.066816s\",\"locations\":{\"user\":{\"latitude\":49.78841740807103,\"longitude\":18.22120606899262,\"source\":\"SOURCE_REGISTRY\"}},\"network_ids\":{\"net_id\":\"000013\",\"tenant_id\":\"ttn\",\"cluster_id\":\"ttn-eu1\"}}}","payloadType":"str","x":110,"y":180,"wires":[["973a77d4.527098"]]},{"id":"3e162eeb.5ce08a","type":"debug","z":"4497ebfd.5af1dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"620ab4a83e3c6a7b","type":"comment","z":"4497ebfd.5af1dc","name":"","info":"Payload data:\n596FCD77C7566A66136D736D1E5D606C9C6E1D6F3A6F2C54","x":100,"y":60,"wires":[]},{"id":"948c1265.268f38","type":"mqtt-broker","name":"TTN","broker":"eu1.cloud.thethings.network","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]